<div th:fragment="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">Mediatek</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="admin">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="user">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="content">Content</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file">File</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-success" href="/">Выход</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>